.navBar {
    display: flex;
    flex-flow: row nowrap;
    background-color: #18314F;
    margin-inline: -8px;
    margin-top: -8px;
    padding-inline: 8px;
}

.navIcon {
    
}

.navText {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 16px;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

.navText:hover {
    background-color: #0D0630;
}

.navTextActive {
    background-color: #0D0630;
}