{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}

<div class="container" style="padding-top: 20px">

    <div>
        {% set asset_type_id = asset_type.asset_type_id %}
        {% set asset_id = asset.asset_id %}

        {% set data = asset.data %}
        {% set field_mappings = page_layout.field_mappings %}

        <div class="row">

            <div class="col">
                <h4>{{ data[field_mappings['title']] }}</h4>
            </div>

            <div class="col">

                <div class="row justify-content-end">

                    <div class="col-3">

                        <!--suppress HtmlUnknownTarget -->
                        <a class="btn btn-block btn-danger"
                           href="/asset-type:{{ asset_type_id }}/asset:{{ asset_id }}/delete">
                            <i class="fas fa-trash"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <!--
        The AssetPageLayouts layout parameter, is filled with
        a list of rows. Each row is a list of columns. For each
        column we create a divider with bootstrap class column.
        This column serves as a container. The plugin_macro
        method, which creates this macros contents, can append
        content to this container.
        -->

        <div id="asset-root"></div>

        <script src="../static/jscript/observableFromUrl.js"></script>
        <script src="../static/jscript/misc/generatePluginAssetName.js"></script>

        <script>

            const asset_root_id = 'asset-root';
            const assetRoot = document.getElementById(asset_root_id);
            assetRoot['stream_data'] = new Map();

            assetRoot['asset-type'] = JSON.parse('{{ asset_type.as_dict()|tojson }}');
            assetRoot['asset'] = JSON.parse('{{ asset.as_dict()|tojson }}');

            // TODO: Get these values another way.
            const page_layout = JSON.parse('{{ page_layout.as_dict()|tojson }}');
            const sources = page_layout['sources'];

            if (sources) {

                Object.entries(sources).forEach(([channel, url]) => {

                    // We only stream sources, that start with stream
                    // Checkout: split sources into source and actions?
                    if (channel.startsWith('stream-')) {

                        document.getElementById(asset_root_id)['stream_data'].set(
                            channel, observableFromUrl(channel, url));
                    }
                })
            }
        </script>

        {% for row_info in page_layout.layout %}
        <div class="row" id="row-{{ loop.index }}">

            {% for column_info in row_info %}

            {% set column_id = column_info.column_id %}
            {% set column_width = column_info.column_width %}
            {% set column_offset = column_info.column_offset %}
            {% set plugin_path = column_info.plugin.view %}

            <div class="col-md-{{ column_width }} offset-{{ column_offset }}" id="column-{{ column_id }}"></div>

            {% from plugin_path import plugin_macro %}
            {{ plugin_macro(column_info.plugin, 'asset-root', column_info.as_dict()) }}

            {% endfor %}

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}