{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}

<form id="container" class="container" style="padding-top: 20px" method="post"
      action="{{ create_url|string }}">

    <!-- Create Header for the Layout -->

    <div class="row">

        <div class="col">
            <h4>Create Layout for: {{ asset_type.asset_name }}</h4>
        </div>

        <div class="col-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Save Layout</button>
        </div>

    </div>

    <hr/>

    <div class="row">
        <div class="col">

            <!-- Container for the Layout Rows-->

            <div id="layout-form" class="container">
                <!-- Filled by Interaction -->
            </div>

            <hr style="margin-top: 4px">

        </div>
    </div>

    <script>
        let layout_form = document.getElementById("layout-form");

        layout_form['detail_view'] = Boolean(JSON.parse('{{ detail_view|tojson }}'));
        layout_form['asset_type'] = JSON.parse('{{ asset_type.as_dict()|tojson }}')
        layout_form['available_plugins'] = JSON.parse('{{ available_plugins|tojson }}');
    </script>

    <script src="/static/jscript/layoutEditor.js"></script>
    <script>
        createPlugin();
    </script>

</form>

{% endblock %}