@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
    url(./res/fonts/Montserrat-Regular.ttf) format("truetype");
}

body {
  background-color: #fff;
  font-family: Montserrat;
  color: #000;
}