{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container" style="padding-top: 20px">

    {% set asset_type_id = page_layout.asset_type.asset_type_id %}
    {% set asset_name = page_layout.asset_type.asset_name %}

    {% if page_layout %}

    <div class="row">

        <div class="col">
            <h4>{{ asset_name }}</h4>
        </div>

        <div class="col">

            <div class="row justify-content-end">

                <div class="col-3">
                    <form action="/asset-type/{{ asset_type_id }}/create-asset"
                          method="GET">
                        <button type="submit" name="createAsset" class="btn btn-block btn-dark">
                            Create
                        </button>
                    </form>
                </div>

                <div class="col-3">
                    <form action="/asset-type/{{ asset_type_id }}/delete" method="POST">
                        <button type="submit" name="deleteAssetType" class="btn btn-block btn-danger" value="True">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <hr/>

    <!-- Import Layout Macro and apply it -->
    {% from 'asset-type-layout-generator.html' import layout_generator %}
    {{ layout_generator(page_layout) }}

    {% else %}
    <h1>Error: Page Information is missing.</h1>
    {% endif %}

</div>
{% endblock %}