{% macro layout_generator(page_layout) %}

{# shortening names #}
{% set asset_type = page_layout.asset_type %}

<script>
    const asset_type = JSON.parse('{{ asset_type.as_dict()|tojson }}');
</script>

{# We don't need to load data if asset_type supplies an asset. #}
{% if page_layout.items_url %}
<script>

    // Save some status variables. Each page_layout layout
    // can (right now) request item data from one source.
    // This source is supplied in items_url.

    let items_status = 'init';
    let items = [];
    let item_count;
    let received_items = 0;

    function pubSub() {

        // Defining channels
        let subscribers = {
            'items-data': []
        }

        function subscribe(channel, callback) {
            subscribers[channel].push(callback)
        }

        function publish(channel, data) {
            subscribers[channel].forEach((callback) => callback(data));
        }

        return {publish, subscribe}
    }

    // Creating an event source, that will
    // request items using the PageLayouts
    // 'items_url'.
    let source = new EventSource('{{ page_layout.items_url }}');

    // Creating a pubsub to notify elements
    // processing async requested items
    let itemsPubSub = pubSub();

    source.addEventListener('items-data', function (event) {
        console.log(event.data)
        let received_data = JSON.parse(event.data.replace(/'/g, '"'))[0];

        if (!item_count) {
            items_status = 'loading';
            item_count = received_data['item_count'];
        }

        for (let key in received_data['items']) {
            let item = received_data['items'][key];
            items.push(item);
            received_items += 1;
        }

        itemsPubSub.publish('items-data', received_data['items'])

        if (received_items >= item_count) {
            source.close();
            items_status = 'finished';
        }
    })
</script>
{% endif %}

<!--
The PageLayouts layout parameter, is filled with a list
of rows. Each row is a list of columns. For each column
we create a divider with bootstrap class column. This
column serves as a container. The plugin_macro method,
which creates this macros contents, can append content
to this container.
-->

{% for row_info in page_layout.layout %}
<div class="row" id="row-{{ loop.index }}">

    {% for column_info in row_info %}

    {% set column_id = column_info.column_id %}
    {% set column_width = column_info.column_width %}
    {% set plugin_path = column_info.plugin_path %}

    {# Defining a column div, that the plugin macro can append to. #}

    <div class="col-md-{{ column_width }}" id="column-{{ column_id }}"></div>

    {% from plugin_path import plugin_macro %}
    {{ plugin_macro(asset_type, column_info) }}

    {% endfor %}

</div>
{% endfor %}
{% endmacro %}