{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container" style="padding-top: 20px">

    {% set asset_type_id = asset_type.asset_type_id %}
    {% set asset_name = asset_type.asset_name %}

    {% if page_layout %}

    <div class="row">

        <!-- Adding Header Row -->

        <!-- TODO: Do this using Javascript -->
        <div class="col">
            <h4>{{ asset_name }}</h4>
        </div>

        <div class="col">

            <div class="row justify-content-end">

                <!-- Adding Buttons -->

                <div class="col-3">
                    <a class="btn btn-block btn-dark" href="/asset-type:{{ asset_type_id }}/create-asset">
                        <i class="fas fa-file-alt"></i>
                        <i class="fas fa-plus"></i>
                    </a>
                </div>

                <div class="col-3">
                    <a class="btn btn-block btn-danger" href="/asset-type:{{ asset_type_id }}/delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <hr/>

    <div id="asset-type-root">

        <script src="../static/jscript/observableFromUrl.js"></script>
        <script src="../static/jscript/misc/generatePluginAssetName.js"></script>

        <script>

            const asset_type_root_id = 'asset-type-root';
            const asset_type_root = document.getElementById(asset_type_root_id);
            asset_type_root['stream_data'] = new Map();
            asset_type_root['asset-type'] = JSON.parse('{{ asset_type.as_dict()|tojson }}');

            // TODO: Get these values another way.
            // Both page_layout and sources should be unique
            // in this template, so we can define them as
            // constants on the html level.
            const page_layout = JSON.parse('{{ page_layout|tojson }}');
            const sources = page_layout['sources'];

            if (sources) {

                Object.entries(sources).map((source) => {

                    let channel = source[0];
                    let url = source[1];

                    // We only stream sources, that start with stream
                    // Checkout: split sources into source and actions?
                    if (channel.startsWith('stream-')) {

                        document.getElementById(asset_type_root_id)['stream_data'].set(
                            channel, observableFromUrl(channel, url));
                    }
                })
            }

        </script>

        <!--
        The PageLayouts layout parameter, is filled with a list
        of rows. Each row is a list of columns. For each column
        we create a divider with bootstrap class column. This
        column serves as a container. The plugin_macro method,
        which creates this macro's contents, can append content
        to this container.
        -->

        <!-- TODO: Do this using Javascript -->

        {% for row_info in page_layout.layout %}
        <div class="row" id="row-{{ loop.index }}">

            {% for column_info in row_info %}

            {% set column_id = column_info.column_id %}
            {% set column_width = column_info.column_width %}
            {% set column_offset = column_info.column_offset %}
            {% set plugin_path = column_info.plugin.view %}

            {# Defining a column div, that the plugin macro can append to. #}

            <div class="col-{{ column_width }} offset-{{ column_offset }}"
                 id="column-{{ column_id }}">
            </div>

            {% from plugin_path import plugin_macro %}
            {{ plugin_macro(column_info.plugin, 'asset-type-root', column_info) }}

            {% endfor %}

        </div>
        {% endfor %}
    </div>

    {% else %}
    <h1>Error: Page Information is missing.</h1>
    {% endif %}

</div>
{% endblock %}