{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 align-self-center" style="padding-top: 20px">
            <ul class="list-group list-group-flush">
                {% for asset_type in asset_types %}
                <a href="{{ '/asset-type/' + asset_type.asset_type_id|string }}">
                    <li class="list-group-item row">
                        <p>{{ asset_type.asset_name }}</p>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}