{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row" style="padding-top: 35px">
        <div class="col">
            <ul class="list-group list-group-flush">

                {% for asset_type in asset_types %}
                <a href="{{ '/asset-type/' + asset_type.asset_type_id|string }}">
                    <li class="list-group-item row" style="margin-top: 10px">
                        <p>{{ asset_type.asset_name }}</p>
                    </li>
                </a>
                {% endfor %}

            </ul>

        </div>
    </div>
</div>
{% endblock %}