{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            <h4>Configurations</h4>
        </div>
    </div>

    <hr/>

    <div class="row">

        <!-- TODO: GET assetTypes USING OBSERVABLE -->

        <script>
            const assetTypes = JSON.parse('{{ asset_types|tojson }}');
        </script>

        <div class="col-md-6" id="plugin-asset-types">

            {% from 'plugins/list-asset-types-plugin.html' import plugin_macro %}
            {{ plugin_macro() }}

        </div>

        <div class="col-md-6">

            {% from "interface_elements/basics.html" import ui_button %}
            {{ ui_button("/asset-type/create", "Create AssetType") }}

        </div>
    </div>
</div>
{% endblock %}