{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 35px">
        <form class="col-sm" action="/asset-type/create" method="post">

            <!-- INPUT FOR ASSET TYPE NAME -->

            <div class="form-group row" style="padding-top: 20px">
                <label for="assetName" class="col-md-2 col-form-label">Asset Name:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="assetName" id="assetName">
                </div>
            </div>

            <hr/>

            <!-- HEADER LINE -->

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6">
                    <label>Column Name</label>
                </div>
                <div class="col-md-4">
                    <label>Datatype</label>
                </div>
                <div class="col-md-2">
                    <label>Required</label>
                </div>
            </div>

            <!-- COLUMN INPUTS -->

            <div id="column-list">
                <script>
                    let asset_type_prefabs = JSON.parse('{{ prefab | tojson }}');
                    let columns = asset_type_prefabs['columns'];

                    function createColumns() {
                        const columnList = document.getElementById('column-list');

                        for (let iterator = 0; iterator < columns.length; iterator++) {

                            let columnEntry = document.createElement('div');
                            columnEntry.setAttribute('name', 'column-entry-' + iterator);
                            columnEntry.setAttribute('class', 'form-group row');
                            columnEntry.setAttribute('style', 'padding-top: 5px');
                            columnList.appendChild(columnEntry);

                            // COLUMN NAME
                            // ~~~~~~~~~~~

                            let columnName = document.createElement('div');
                            columnName.setAttribute('class', 'col-md-6');
                            columnEntry.appendChild(columnName);

                            let columnNameInput = document.createElement('input');
                            columnNameInput.setAttribute('name', 'column-name-' + iterator);
                            columnNameInput.setAttribute('class', 'form-control');
                            columnNameInput.setAttribute('type', 'text');
                            columnNameInput.setAttribute('readonly', 'true');
                            columnNameInput.setAttribute('value', columns[iterator]['name'])
                            columnName.appendChild(columnNameInput);

                            // COLUMN DATA TYPE
                            // ~~~~~~~~~~~~~~~~

                            let columnDataType = document.createElement('div');
                            columnDataType.setAttribute('class', 'col-md-4');
                            columnEntry.appendChild(columnDataType);

                            let columnDataTypeBody = document.createElement('div');
                            columnDataTypeBody.setAttribute('class', 'row');
                            columnDataType.appendChild(columnDataTypeBody);

                            let columnDataTypeContainer = document.createElement('div');
                            columnDataTypeContainer.setAttribute('class', 'col-md-6');
                            columnDataTypeBody.appendChild(columnDataTypeContainer);

                            let columnDataTypeInput = document.createElement('select');
                            columnDataTypeInput.setAttribute('name', 'column-data-type-' + iterator);
                            columnDataTypeInput.setAttribute('class', 'form-control custom-select');
                            columnDataTypeInput.setAttribute('readonly', 'true');
                            columnDataTypeContainer.appendChild(columnDataTypeInput);

                            let columnDataTypeSelected = document.createElement('option')
                            columnDataTypeSelected.setAttribute('value', columns[iterator]['datatype'][0]);
                            columnDataTypeSelected.setAttribute('label', columns[iterator]['datatype'][1]);
                            columnDataTypeSelected.setAttribute('selected', 'true')
                            columnDataTypeInput.appendChild(columnDataTypeSelected)

                            if (columns[iterator]['asset_type_id'] > 0) {
                                let assetTypeContainer = document.createElement('div');
                                assetTypeContainer.setAttribute('class', 'col-md-6');
                                columnDataTypeBody.appendChild(assetTypeContainer);

                                let assetTypeInput = document.createElement('select');
                                assetTypeInput.setAttribute('name', 'column-asset-type-' + iterator);
                                assetTypeInput.setAttribute('class', 'form-control custom-select');
                                assetTypeInput.setAttribute('readonly', 'true');
                                assetTypeContainer.appendChild(assetTypeInput);

                                let assetTypeSelected = document.createElement('option')
                                assetTypeSelected.setAttribute('value', columns[iterator]['asset_type']);
                                assetTypeSelected.setAttribute('label', columns[iterator]['asset_type']['asset_name']);
                                assetTypeSelected.setAttribute('selected', 'true')
                                assetTypeInput.appendChild(assetTypeSelected)
                            }

                            // COLUMN REQUIRED
                            // ~~~~~~~~~~~~~~~
                            let columnRequired = document.createElement('div');
                            columnRequired.setAttribute('class', 'col-md-2');
                            columnEntry.appendChild(columnRequired);

                            let columnRequiredInput = document.createElement('input');
                            columnRequiredInput.setAttribute('name', 'column-required-' + iterator);
                            columnRequiredInput.setAttribute('class', 'check-input');
                            columnRequiredInput.setAttribute('type', 'checkbox');
                            columnRequiredInput.setAttribute('readonly', 'true');
                            if (columns[iterator]['required']) {
                                columnRequiredInput.setAttribute('checked', columns[iterator]['required'])
                            }
                            columnRequiredInput.setAttribute('value', 'checkboxTrue')
                            columnRequired.appendChild(columnRequiredInput);
                        }
                    }

                    createColumns();
                </script>
            </div>

            <hr/>

            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button class="btn btn-block btn-dark" type="submit">Add AssetType</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}