{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 35px">
        <form class="col-sm" action="/asset-type/create" method="post">

            <!-- INPUT FOR ASSET TYPE NAME -->

            <div class="form-group row" style="padding-top: 20px">
                <label for="assetName" class="col-md-2 col-form-label">Asset Name:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="assetName" id="assetName">
                </div>
            </div>

            <hr/>

            <div class="form-group row">
                <label for="superType" class="col-md-2 col-form-label">Extends Asset Type:</label>
                <div class="col-md-10">
                    <select class="form-control custom-select" name="superType" id="superType">
                        <option value="0" selected>...</option>

                        {% for asset_type in asset_types %}
                        <option value="{{ asset_types[asset_type] }}">{{ asset_type }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>

            <hr/>

            <!-- HEADER LINE -->

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6">
                    <label>Column Name</label>
                </div>
                <div class="col-md-4">
                    <label>Datatype</label>
                </div>
                <div class="col-md-2">
                    <label>Required</label>
                </div>
            </div>

            <!-- COLUMN INPUTS -->
            <!-- TODO: Do this completely in JS -->

            <div id="column-list">
                <div name="column-entry-0" class="form-group row" style="padding-top: 5px">

                    <!-- COLUMN NAME -->
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="column-name-0">
                    </div>

                    <!-- COLUMN DATATYPE -->
                    <div class="col-md-4">
                        <div class="row">

                            <div class="col-md-6">
                                <select class="form-control custom-select" name="column-data-type-0"
                                        onchange="dataTypeSelection(name, value)">

                                    {% for data_type in data_types %}
                                    <option value="{{ data_type.typename }}">
                                        {{ data_type.fe_name }}
                                    </option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="col-md-6">
                                <select class="form-control custom-select" name="column-asset-type-0">

                                    {% for asset_type in asset_types %}
                                    <option value="{{ asset_types[asset_type] }}">{{ asset_type }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        </div>
                    </div>

                    <!-- COLUMN REQUIRED FLAG -->
                    <div class="col-md-2">
                        <input
                                type="checkbox"
                                class="check-input"
                                name="column-required-0"
                                value="checkboxTrue"
                        >
                    </div>
                </div>
            </div>


            <button class="btn btn-block btn-secondary" type="button" onclick="addColumn()">
                +
            </button>

            <hr/>

            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button class="btn btn-block btn-dark" type="submit">Add AssetType</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    let columnNumber = 1;

    function addColumn() {
        if (columnNumber < 15) {
            const columnList = document.getElementById('column-list');
            let columnEntry = document.getElementsByName('column-entry-0').item(0).cloneNode(true);

            // Updating identifiers
            columnEntry.setAttribute('name', 'column-entry-' + columnNumber);

            let name = columnEntry.querySelector('div > input[name="column-name-0"]');
            name.setAttribute("name", 'column-name-' + columnNumber);
            name.value = "";

            columnEntry.querySelector('div > select[name="column-data-type-0"]')
                .setAttribute("name", 'column-data-type-' + columnNumber);

            columnEntry.querySelector('div > select[name="column-asset-type-0"]')
                .setAttribute("name", 'column-asset-type-' + columnNumber);

            let required = columnEntry.querySelector('div > input[name="column-required-0"]');
            required.setAttribute("name", 'column-required-' + columnNumber);
            required.checked = false;

            columnList.appendChild(columnEntry);

            columnNumber += 1;
        } else {
            console.warn("Can't create more than 15 Columns!")
        }
    }

    function dataTypeSelection(name, value) {
        // TODO: Initialize hidden if not ASSET or ASSETLIST
        const entryNumber = name.toString().slice(-1);
        const dtSelection = document.getElementsByName('column-asset-type-' + entryNumber).item(0);
        if (['ASSET', 'ASSETLIST'].includes(value)) {
            dtSelection.style.visibility = "visible";
        } else {
            dtSelection.style.visibility = "hidden";
        }
    }
</script>
{% endblock %}