{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">

    <div class="row" style="padding-top: 35px">
        <div class="col">
            <h4>Create new: {{ asset_type.asset_name }}</h4>
        </div>
    </div>

    <hr/>

    <div class="row" id="create-asset"></div>

</div>

<script>
    const assetType = JSON.parse('{{ asset_type.as_dict()|tojson }}');
    const assets = JSON.parse('{{ assets|tojson }}');
</script>

<script src="/static/jscript/createAsset.js"></script>

{% endblock %}