{% extends "base.html" %}

<!-- Extend Block 'head' in base.html -->
{% block head %}

{% endblock %}

<!-- Extend Block 'body' in base.html -->
{% block body %}
<div class="container">
    <div class="row" style="margin-top: 35px">
        <form class="col-sm " action="/asset-type/create" method="post">

            <div class="form-group row" style="padding-top: 20px">
                <label for="assetName" class="col-md-2 col-form-label">Asset Name:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="assetName" id="assetName">
                </div>
            </div>

            <hr/>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-8">
                    <label>Column Name</label>
                </div>
                <div class="col-md-2">
                    <label>Datatype</label>
                </div>
                <div class="col-md-2">
                    <label>Required</label>
                </div>
            </div>

            <div class="row">
                <div class="columnList col">
                    <div class="form-group row" style="padding-top: 5px">
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="columnName_0" id="columnName_0">
                        </div>
                        <div class="col-md-2">
                            <select class="form-control custom-select" name="columnDataType_0" id="columnDataType_0">

                                {% for data_type in data_types %}
                                <option selected value="{{ data_type.typename }}">{{ data_type.fe_name }}</option>
                                {% endfor %}

                                {% for asset_type in asset_types %}
                                <option selected value="{{ asset_types[asset_type] }}">{{ asset_type }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="row justify-content-end">
                                <div class="col-md-3">
                                    <input type="checkbox" class="check-input" name="columnRequired_0"
                                           id="columnRequired_0"
                                           value="checkboxTrue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-block btn-secondary" name="addColumnButton" type="button" onclick="addColumn()">
                +
            </button>

            <hr/>

            <div class="row justify-content-end">
                <div class="col-md-2">
                    <button class="btn btn-block btn-dark" type="submit">Add AssetType</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    let column_no = 1;

    function addColumn() {
        // This is basically equal to the first Column defined above
        if (column_no < 26) {
            $(".columnList").append('<div class="form-group row" style="padding-top: 5px">\n' +

                '                <div class="col-md-8">\n' +
                '                    <input type="text" class="form-control" name="columnName_' + column_no + '">\n' +
                '                </div>\n' +

                '                <div class="col-md-2">\n' +
                '                    <select class="form-control custom-select" name="columnDataType_' + column_no + '">\n' +

                                '{% for data_type in data_types %}' +
                                '<option selected value="{{ data_type.typename }}">{{ data_type.fe_name }}</option>' +
                                '{% endfor %}' +

                                '{% for asset_type in asset_types %}' +
                                '<option selected value="{{ asset_types[asset_type] }}">{{ asset_type }}</option>' +
                                '{% endfor %}' +

                '                    </select>\n' +
                '                </div>\n' +

                '                <div class="col-md-2">\n' +
                '                    <div class="row justify-content-end">\n' +
                '                        <div class="col-md-3">\n' +
                '                            <input type="checkbox" class="check-input" name="columnRequired_' + column_no + '" value="checkboxTrue">\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                </div>\n' +

                '            </div>');
            column_no += 1;
        } else {
            console.warn("Can't create more than 25 Columns!") // TODO: Create some kind of Notification
        }
    }
</script>
{% endblock %}