{% macro layout_generator(asset_type_page) %}

{# shortening names #}
{% set asset_type = asset_type_page.asset_type %}
{% set assets = asset_type_page.assets %}

<script>
    // Constants that are used in all of the plugins
    const assets = JSON.parse('{{ assets|tojson }}');
    const asset_type = JSON.parse('{{ asset_type|tojson }}');
</script>

<!-- We use simple bootstrap for the layout for now -->

{% for row_info in asset_type_page.layout %}
<div class="row">

    {% for column in row_info.columns %}

    {% set plugin_path = column.plugin_path %}

    <div class="col-md-{{ column.column_width }}">

        {% from plugin_path import plugin_macro %}
        {{ plugin_macro(column) }}

    </div>
    {% endfor %}

</div>
{% endfor %}
{% endmacro %}