{% macro layout_generator(asset_type_page) %}

{% set asset_type = asset_type_page.asset_type %}
{% set assets = asset_type_page.assets %}

{% for row in asset_type_page.layout %}
<div class="row">

    {% for setting in row %}

    {% set width = setting[0] %}
    {% set setting = setting[1] %}

    <div class="col-md-{{ width }}">

        {% from setting.plugin.plugin_macro_path import plugin_macro %}
        {{ plugin_macro(asset_type, assets, setting) }}

    </div>
    {% endfor %}

</div>
{% endfor %}
{% endmacro %}